@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'DM sans';
}
/* nav bar */

.nav_container {
    display: flex;
    font-family: 'DM sans';
    
}

.nav_bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.9rem;

    color: #1E0E62;


}

#nav_Hola {
    width: 190px;
    height: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: -0.292683px;
}



#nav_email {
    

    width: 41px;
    height: 22px;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 22px;

    border: 2px solid #EBEAED;
    border-radius: 108px;
    padding: 8px 30px;
}

/* presentacion */

.presentacion {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #F1F1F1;
    

    margin-left: auto;
    margin-right: auto;

    padding-top: 3.2rem;
    padding-left: 6.4rem;

    height: 520px;
}



#header_presen {
    width: 422px;
    height: 169px;
    color: #1E0E62;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 60px;
}

#desc_header {
    width: 369px;
    height: 153px;

    font-family: 'DM Sans';
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: rgba(21, 20, 57, 0.4);
}

.img {
    position: absolute;
    width: 570px;
    height: 451px;

    margin-right: 6.7em;

    border-radius: 10px;
    background: url(./images/dog4.jpg);
    align-self: flex-end;
}

/* habilidades */

.habilidades {
    display: flex;
    flex-direction: column;
    height: 699px;

    box-sizing: border-box;

    background: #F1F1F1;
}

.habilidades_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    

    margin-left: auto;
    margin-right: auto;

    padding-top: 8em;
}

#Mis_habilidades {
    width: 312px;
    height: 52px;

    

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;

    text-align: center;
    letter-spacing: -0.4px;

    color: #1E0E62;
}

#texto_habili {
    width: 793px;
    height: 64px;

    

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;

    color: rgba(21, 20, 57, 0.4);
    }

    .skills {
        display: flex;
        justify-content: space-evenly;

        padding-top: 5em;

        


        
    }

    .skills_container {
        display: flex;
        align-self: flex-end;
        flex-direction: column;

        



        text-align: center;     
    }

    #skills_title {
    color: #1E0E62;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    }

    #skills_desc {
    width: 793px;
    height: 64px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;

    text-align: center;
    color: rgba(21, 20, 57, 0.4);

    mix-blend-mode: normal;
    }

    #skills_info {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    width: 283px;
    height: 78px;

    text-align: center;

    color: rgba(21, 20, 57, 0.4);

    mix-blend-mode: normal;
    }

    /* Experiencia */

    .experiencia {
        display: flex;
        justify-content: center;

        
        height: 400px;
        background-color: #FFFFFF;
    }

    .exp_header {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 4em; 

        align-items: center;

        
        
        
    }

    #Mi_Experiencia {
        width: 654px;
        height: 52px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 52px;

        text-align: center;
        letter-spacing: -0.4px;

        color: #1E0E62;
    }

    #exp_texto {
        width: 758px;
        height: 64px;
        margin-top: 2px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;

        color: rgba(21, 20, 57, 0.4);

        mix-blend-mode: normal;
    }

    #exp_button {
        width: 200px;
        height: 50px;
        margin-top: 1.6em;


        background: #25DAC5;
        border-radius: 100px;
        border: none;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;

        color: #FFFFFF;
    }

    /* Imagenes */

    .imagenes_container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        /* margin-top: 15px; */
        gap: 20px;

        background-color: #FFF;
        height: 450px;
    }

    .imagenes {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        
        
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        

        
        /* gap: 40px; */
    }

    .recuadro {
        width: 370px;
        height: 240px;
        border-radius: 10px;

        align-self: center;
        /* background-color: rgb(240, 169, 169); */
    }

    #rec-texto {
        display: flex;
        align-self: center;
        width: 370px;
        height: 32px;

        margin-bottom: 2px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;

        color: #1E0E62;
    }

    #rec_desc {
        display: flex;
        align-self: center;
        width: 367px;
        height: 52px;

        padding-top: 2px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;

        color: rgba(21, 20, 57, 0.4);
    }

    #cuadro_1 {
        background: url(./images/photo1.jpg);
    }

    #cuadro_2 {
        background: url(./images/photo2.png);
    }

    #cuadro_3 {
        background: url(./images/photo3.jpg);
    }

    #cuadro_4 {
        background: url(./images/photo4.jpg);
    }

    #cuadro_5 {
        background: url(./images/photo5.jpg);
    }

    #cuadro_6 {
        background: url(./images/photo6.jpg);
    }

    /* footer */

    .mas_info {
        display: flex;
        flex-direction: column;
        height: 715px;
        background-color: #F1F1F1;

        align-items: center;
    }

    #footer_header {
        width: 762px;
        height: 70px;
        margin-top: 3.5em;
        margin-bottom: 2px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 70px;

        text-align: center;
        letter-spacing: -1px;

        color: #1E0E62;
    }

    #footer_email {
        width: 716px;
        height: 86px;
        margin-top: 2px;
        

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 58px;
        line-height: 70px;

        text-align: center;
        letter-spacing: -1px;

        color: #482BE7;
    }

    .footer_icons {
        display: flex;
        width: 1400px;
        justify-content: center;
        gap: 5em;
        padding-top: 6em;
        


        filter: invert(61%) sepia(6%) saturate(480%) hue-rotate(202deg) brightness(99%) contrast(92%);



    }

    #github {
        width: 25px;
    }

    #icons {
        width: 30px;
    }